/*
Design by http://www.templateaccess.com
Released for free under a Creative Commons Attribution 3.0 License
*/
@charset "utf-8";
body { margin:0; padding:0; width:100%; color:#5f5f5f; font:normal 12px/1.8em Arial, Helvetica, sans-serif;}
html, .main { padding:0; margin:0; background:#fff url(../images/header_bg.gif) repeat-x top;}
.clr { clear:both; padding:0; margin:0; width:100%; font-size:0px; line-height:0px;}
.logo { padding:30px 0 0 32px; float:left; width:auto;}
h1 { margin:0; padding:16px 0; color:#717171; font:normal 32px/1.2em Arial, Helvetica, sans-serif; letter-spacing:-3px; text-transform:uppercase;}
h1 a, h1 a:hover { color:#717171; text-decoration:none;}
h1 span { color:#de484d;}
h1 small { display:block; padding:0; font:normal 12px/1.2em Arial, Helvetica, sans-serif; letter-spacing:normal;}
h2 { font:normal 24px Arial, Helvetica, sans-serif; padding:8px 0; margin:8px 0; color:#4f5452;}
p { margin:8px 0; padding:0 0 8px 0; font:normal 12px/1.8em Arial, Helvetica, sans-serif;}
a { color:#de484d; text-decoration:underline;}

.header, .content, .menu_nav, .fbg, .footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar { margin:0; padding:0;}

/* header */
.header { height:110px; background:url(../images/image.jpg) no-repeat center top; }
.header_resize { margin:0 auto; padding:0; width:970px;}

/* menu */
.menu_nav { margin:0; padding:110px 0 0; float:right;}
.menu_nav ul { list-style:none;}
.menu_nav ul li { margin:0; padding:0 16px 0 0; float:left; background:url(../images/menu.gif) no-repeat right center;}
.menu_nav ul li a { display:block; margin:0; padding:16px 16px 34px; color:#fff; text-decoration:none; font-size:13px; background-color:#621b1d;}
.menu_nav ul li.active a, .menu_nav ul li a:hover { background:#f00 url(../images/menu_a.gif) repeat-x center;}

/* search */
.searchform { margin:30px 120px 0 20px; padding:16px 32px; float:right;}
#formsearch { margin:0; padding:0;}
#formsearch span { display:block; margin:6px 0; padding:0 8px 0 11px !important; padding:0 4px 0 6px; float:right; width:583px; background:#fff url(../images/search.gif) no-repeat top left;}
#formsearch input.editbox_search { margin:0; padding:5px 0; float:left; width:580px; height:20px; border:none; background:none; font:normal 13px/20px Arial, Helvetica, sans-serif; color:#a8acb2;}
#formsearch input.button_search { margin:6px 0 0 0; padding:0; border:none; float:right;}

/* content */
.content { background:url(../images/content_bg.gif) repeat-x top;}
.content_resize { margin:0 auto; padding:28px 0 0; width:970px; background:url(../images/content_rbg.jpg) no-repeat left top;}
.content .mainbar { margin:0;  padding:0; float:left; width:562px;}
.content .mainbar img { padding:4px; border:1px solid #d2d5d4;}
.content .mainbar img.fl { margin:4px 16px 4px 0; float:left;}
.content .mainbar .article { margin:0 0 8px 0; padding:16px 24px 16px 40px;}
.content .sidebar { padding:0; float:right; width:400px;}
.content .sidebar .gadget { margin:0 0 8px 0; padding:16px 16px 16px 40px;}
ul.sb_menu, ul.ex_menu { margin:0; padding:0; list-style:none; color:#959595;}
ul.sb_menu li, ul.ex_menu li { margin:0;}
ul.sb_menu li { padding:4px 0 4px 12px; width:220px;}
ul.ex_menu li { padding:4px 0 8px 12px;}
ul.sb_menu li a, ul.ex_menu li a { color:#5f5f5f; text-decoration:none; margin-left:-12px; padding-left:12px; background:url(../images/li.gif) no-repeat left center;}
ul.sb_menu li a:hover, ul.ex_menu li a:hover { color:#de484d; font-weight:bold;}
ul.sb_menu li a:hover { text-decoration:underline;}
ul.ex_menu li a:hover { text-decoration:none;}

.content .mainbar .article, .content .sidebar .gadget, .fbg_resize { border:2px solid #e3e3e3; background-color:#fff; border-radius:12px; -moz-border-radius:12px; -webkit-border-radius:12px;}

/* subpages */
.content .mainbar .comment { margin:0; padding:16px 0 0 0;}
.content .mainbar .comment img.userpic { border:1px solid #dedede; margin:10px 16px 0 0; padding:0; float:left;}

/* fbg */
.fbg_resize { margin:0 auto; padding:24px 40px; width:886px;}
.fbg img { padding:4px; border:1px solid #d2d5d4;}
.fbg .col { margin:0; float:left;}
.fbg .c1 { padding:0 16px 0 0; width:262px;}
.fbg .c2 { padding:0 16px; width:280px;}
.fbg .c3 { padding:0 0 0 16px; width:280px;}
.fbg .c1 img { margin:8px;}
.fbg .c3 img { margin:8px 16px 4px 0; float:left;}

/* footer */
.footer_resize { margin:0 auto; padding:24px 40px; width:890px;}
.footer p.lf { margin:0; padding:4px 0; float:right; width:auto; line-height:1.5em;}
ul.fmenu { margin:0; padding:2px 0; list-style:none; float:left; width:auto;}
ul.fmenu li { margin:0; padding:0 2px 0 0; float:left;}
ul.fmenu li a { color:#5f5f5f; text-decoration:none; padding:8px 16px;}
ul.fmenu li a:hover, ul.fmenu li.active a { background:url(../images/menu_a.gif) repeat-x top; color:#fff;}
ul.fmenu li a:hover { text-decoration:underline;}

/* form */
ol { list-style:none;}
ol li { display:block; clear:both;}
ol li label { display:block; margin:0; padding:16px 0 0 0;}
ol li input.text { width:480px; border:1px solid #c0c0c0; margin:2px 0; padding:5px 2px; height:16px; background:#fff;}
ol li textarea { width:480px; border:1px solid #c0c0c0; margin:2px 0; padding:2px; background:#fff;}
ol li .send { margin:16px 0 0 0;}
