<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--

Released for free under a Creative Commons Attribution 3.0 License
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>index</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="static/css/result.css" rel="stylesheet" type="text/css" />

<script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script type="text/javascript" src="static/js/index.js"></script> 

<!-- CuFon ends -->
</head>
<body>
<div class="main">

  <div class="header">
  	<div class="searchform">
          <form id="formsearch" name="formsearch" method="post" action="">
            <input id="button_search" name="button_search" src="static/images/search_btn.gif" class="button_search" type="image" />
            <span><input id="editbox_search" name="editbox_search" class="editbox_search" maxlength="80" placeholder="请输入要查询的内容" type="text" /></span>
          </form>
      </div>
    <div class="header_resize">
      <div class="logo"><h1><a href="index.html"><span>Name</span> Company <small>Put your best slogan here</small></a></h1></div>
      <div class="clr"></div>
      
    </div>
    
  </div>

  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
        <div class="article">
          <h2 id="question">问题“”的答案为：</h2><div class="clr"></div>
          <p id="answer"> </p>
        </div>
        <div id="nodes" class="article">
          <h2><span>相关实体：</span></h2><div class="clr"></div>
          
        </div>
      </div>
      <div class="sidebar">
        <div class="gadget">
          <h2 class="star"><span>知识图谱</span></h2>
          <div class="clr">
          	<iframe id="knowledgeGraph" src="http://122.112.238.70:8000/force/" width="340" height="340" frameborder="0"></iframe>
          </div>
        </div>
      </div>
      <div class="clr"></div>
    </div>
  </div>
</div>
</body>
</html>
